{% includeData 'reports.json' %}

{% for slide in reports %}
<div class="report-slide swiper-slide">
    <div class="report-slide__container">
        <div class="report-slide__video js-yt-block">
            <iframe id="ytplayer-{{ slide.id }}" src="{{ slide.src }}" class="js-yt-iframe" width="100%" height="100%" type="text/html" frameborder="0"></iframe>
        </div>
        <div class="report-slide__content">
            <div class="report-slide__title">{{ slide.title }}</div>
            <div class="report-slide__about">{{ slide.subtitle }}</div>
            <div class="report-slide__text">{{ slide.text }}</div>
        </div>
    </div>
</div>
{% endfor %}
